@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Lufga', sans-serif;
  margin:0;
  background-color: #191A23;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e2e; /* Background of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #797da959; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #797da9; /* Color of the thumb on hover */
}

::-webkit-scrollbar-thumb:active {
  background: #797da9; /* Color of the thumb on active state */
}


.box{
  @apply border-[1px] border-[#62668980] bg-[#292B3B]
}

.text_small {
  @apply text-[0.6rem] md:text-[0.8rem];
}
.text_medium {
  @apply text-base md:text-lg;
}
.text_large {
  @apply text-lg md:text-xl;
}
.text_xl {
  @apply text-xl md:text-2xl;
}

input{
  @apply bg-[#292B3B] border-[1px] border-[#62668980] outline-none
}

textarea{
  @apply bg-[#292B3B] border-[1px] border-[#62668980] outline-none
}
